    
html {
  font-family: Arial, Helvetica, sans-serif;
  display: block; 
  margin: 0px auto;
  text-align: center;
}
h1{
  color: #0F3376;
  padding: 2vh;
}
p{
  font-size: 1.5rem;
}
li{
  list-style-type: none;

}

.topleft {
  position: absolute;
  top: 200px;
  left: 35px;
}
.topcenter {
  position: absolute;
  top: 200px;
  left:580px;
}
.topright {
  position: absolute;
  top: 200px;
  right: 35px;
}

.centerleft {
  position: absolute;
  top: 400px;
  left:35px;
}
.centercenter {
  position: absolute;
  top: 400px;
  left:580px;
  
}
.centerright {
  position: absolute;
  top: 400px;
  right:35px;
}
.bottomcenter {
  position: absolute;
  top: 600px;
  left:580px;
}

.formboxContainer {
  height: 700px;
  width: 100%;
  background-color:white;
  text-align: left;
  justify-content: center;
  display: flex;
  align-self: center;
}
button {
  background-color: #81e7b8;
  border: 1px solid;
  padding: 15px;
  text-align: center;
  font-size: 16px;
}


.table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
  align-self: center;
  margin: auto;
}

.table:hover {
  background-color: #9b75d8;
}

.checkboxContainer {
  background-color:#bdb5b5;
  text-align: left;
  justify-content: center;
  display: flex;
  align-self: center;
}


.checkboxContainer li {
  margin-left:25px;
}


.chart-container{
  position:relative; width:500px; height:600px; right: 10px; top: 40px;
} 

.summary-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 650px;
  align-self: center;
  margin: auto;
  
}

.graphs {
  display: block;

}




*:focus {
  outline: 1px dotted blue;
}
#error{
  background-color: #F27272;
  border-radius: 10px;
  padding: 20px;
  
}
h1{
  color: #0F3376;
  padding: 2vh;
  margin: auto;
}
#section1 {
  display: block;
}


.tabs ul{
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #ccc;
}

.tabs li {
  display: inline-block;
  font-size: 14px;
  width: 20%;
}

.tabs li a{
  user-select: none; 
  display: block;
  position: relative;
  overflow: hidden;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: black;
}

.tabs li a:before{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #1E88E5;
  transform: translateZ(0) translateY(100%);
  z-index: -1;
}

.tabs li a:hover{
  color: #0F3376;
  background: #1ee599;

}

.tabs li a[aria-selected]{
  color: white;

}

.tabs li a[aria-selected]:before{
  transform: translateZ(0) translateY(0);
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid rgb(0, 0, 0);
}



.summaryTitle {
  font-family: Arial Narrow; 
  margin: 0;
  color: #0F3376;
}



.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title{
  color:#1E88E5;
  
}

.tabulator {
  background-color:#ccc;
  border: 1px solid #333;
  border-radius: 10px;
}

.tabulator .tabulator-tableHolder .tabulator-table .tabulator-row{
    color:#fff;
    background-color: #666;
  }








